*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url("D:\my html tool/laptop.jpeg");
    background-size: cover;
    box-sizing: border-box;
    font-family: sans-serif;
}
.menu-bar{
    background: rgb(11, 214, 250);
    text-align: center;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.menu-bar ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: #fff;
}
.active,.menu-bar ul li:hover
{
    background: #8df307;
    border-radius: 3px;
}
.menu-bar .fa{
    margin-right: 8px;
}
.sub-menu-1{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1
{
    display: block;
    position: absolute;
    background: rgb(9, 83, 245);
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul
{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li
{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
    color: #b2ff00;
}
.fa-angle-right{
    float: right;
}
.sub-menu-2{
    display: none;
}
.hover-me:hover .sub-menu-2
{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background: rgb(41, 22, 216);
}
.w3-text-grey,.w3-padding-32{
    color: black;
    font-weight: bold;
    font-size: 110%;
}
.w3-text-grey1,.w3-padding-33{
    color: black;
    font-weight: bold;
    font-size: 110%;
}
.w3-container,.w3-red{
    background: rgb(5, 228, 198);
}